.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:982px;
  min-width:200px;
  max-width:1512px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Accessibility-is-key{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:818px;
  width:620px;
  min-width:620px;
  margin-top:162px;
  margin-bottom:731px;
  min-height:89px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(32, 38, 162, 1);
  font-style:normal;
  font-family:Segoe UI;
  font-weight:400;
  font-size:65px;
  line-height:86.4000015258789px;
}
.Accessibility-is-key-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.image-4{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:86px;
  width:613px;
  min-width:613px;
  height:569px;
  margin-top:-775px;
  margin-bottom:206px;
  min-height:569px;
  content:url(assets/images/image_4.png);
}
.image-4-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Accessible-fashion-i{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:822px;
  width:616px;
  min-width:616px;
  margin-top:-670px;
  margin-bottom:396px;
  min-height:274px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(68, 69, 83, 1);
  font-style:normal;
  font-family:Segoe UI;
  font-weight:400;
  font-size:30px;
  line-height:39.20000076293945px;
}
.Accessible-fashion-i-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.image-3{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:1127px;
  width:338px;
  min-width:338px;
  height:143px;
  margin-top:-349px;
  margin-bottom:206px;
  min-height:143px;
  content:url(assets/images/image_3.png);
}
.image-3-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.image-2{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:798px;
  width:332px;
  min-width:332px;
  height:135px;
  margin-top:-349px;
  margin-bottom:214px;
  min-height:135px;
  content:url(assets/images/image_2.png);
}
.image-2-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
